[MASTER]
# Specify the maximum line length
max-line-length=120

[BASIC]
# Define good names that should not trigger warnings
good-names=i, j, k, ex, Run, _

[CLASSES]
# Disable too-few-public-methods check
disable=too-few-public-methods

[REPORTS]
# Set the verbosity of the pylint output
output-format=colorized
